html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 30);
}

*, *::before, *::after {
    box-sizing: inherit;
}

.case {
    margin: 50px auto;

    background-color: #562C19;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    width: 20vw;
    min-width: 350px;
    height: 70vh;
    min-height: 440px;
}

.display{
    margin: 1rem;
    padding: 0.1em 0.3em;

    background-color: #DFF5F5;
    width: 90%;
    height: 30%;

    font-size: 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.calc-buttons {
    margin: 1em;

    width: 90%;
    height: 60%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.4rem;
    grid-template-areas: 
    "clear division multiplication subtraction"
    "seven eight nine addition"
    "four five six addition"
    "one two three equals"
    "squat period negative equals";
}

.clear {
    grid-area: clear;
    background-color: #15AA08;
    color: white;
}

.division {
    grid-area: division;
    background-color: #227B1A;
    color: white;
}

.multiplication {
    grid-area: multiplication;
    background-color: #227B1A;
    color: white;
}

.subtraction {
    grid-area: subtraction;
    background-color: #227B1A;
    color: white;
}

.seven {
    grid-area: seven;
    background-color: #666966;
    color: white;
}

.eight {
    grid-area: eight;
    background-color: #666966;
    color: white;
}

.nine {
    grid-area: nine;
    background-color: #666966;
    color: white;
}

.four {
    grid-area: four;
    background-color: #666966;
    color: white;
}

.five {
    grid-area: five;
    background-color: #666966;
    color: white;
}

.six {
    grid-area: six;
    background-color: #666966;
    color: white;
}

.addition {
    grid-area: addition;
    background-color: #227B1A;
    color: white;
}

.one {
    grid-area: one;
    background-color: #666966;
    color: white;
}

.two {
    grid-area: two;
    background-color: #666966;
    color: white;
}

.three {
    grid-area: three;
    background-color: #666966;
    color: white;
}

.zero {
    grid-area: squat;
    background-color: #666966;
    color: white;
}

.negative {
    grid-area: negative;
    background-color: #666966;
    color: white;
}

.decimal {
    grid-area: period;
    background-color: #666966;
    color: white;
}

.operate-btn {
    grid-area: equals;
    background-color: #227B1A;
    color: white;
}